In [2]:
from dash import Dash,dcc,html,Output,Input,callback

In [5]:
app =Dash(__name__)

app.layout =html.Div(
    [
        html.H6("改變文字欄位的內容"),
        html.Div(
            [
                "Input",
                dcc.Input(id='my-input',value="initail value",type="text")
            ]
        ),
        html.Br(),
        html.Div(id='my_ouput')
        
    ]
)

@callback(
        Output(component_id="my_ouput",component_property="children"),
        Input(component_id="my-input",component_property="value")
)
def update_output_div(inputValue:str)->str:
    return f'Output: {inputValue}'

app.run(debug=True)

In [23]:
from dash import Dash,dcc,html,Output,Input,callback
import pandas as pd
import plotly.express as px

df=pd.read_csv("https://gist.githubusercontent.com/chriddyp/5d1ea79569ed194d432e56108a04d188/raw/a9f9e8076b837d541398e999dcbac2b2826a81f8/gdp-life-exp-2007.csv")
app=Dash(__name__)

In [12]:
display(df)

df["country"] 

type(df["country"] )#pandas.core.series.Series

df["country"].min()
df["country"].max()

df["country"].unique()

,Unnamed: 0,country,continent,population,life expectancy,gdp per capita
0,11,Afghanistan,Asia,31889923.0,43.828,974.580338
1,23,Albania,Europe,3600523.0,76.423,5937.029526
2,35,Algeria,Africa,33333216.0,72.301,6223.367465
3,47,Angola,Africa,12420476.0,42.731,4797.231267
4,59,Argentina,Americas,40301927.0,75.320,12779.379640
...,...,...,...,...,...,...
137,1655,Vietnam,Asia,85262356.0,74.249,2441.576404
138,1667,West Bank and Gaza,Asia,4018332.0,73.422,3025.349798
139,1679,"Yemen, Rep.",Asia,22211743.0,62.698,2280.769906
140,1691,Zambia,Africa,11746035.0,42.384,1271.211593
141,1703,Zimbabwe,Africa,12311143.0,43.487,469.709298

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [18]:
df2 = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv')
df2

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [25]:

app.layout=html.Div(
    [
        dcc.Graph(id="graph_with_slider"),
        dcc.Slider(
            min=df2['year'].min(),
            max=df2['year'].max(),
            step=None,
            value=df2['year'].min(),
            marks={str(year):str(year)for year in df2['year'].unique()},
            id='year_slider'
        )
    ]
)

@callback(
        Output("graph_with_slider","figure"),
        Input('year_slider',"value")
)
def update_fig(selected_year):
    filtered_df=df2[df2.year==selected_year]
    fig = px.scatter(
        data_frame=filtered_df,
        x="gdpPercap",
        y="lifeExp",
        size="pop",
        color="continent",
        hover_name="country",
        log_x=True,
        size_max=55
    )
    fig.update_layout(transition_duration=5000)
    return fig

app.run(debug=True)